<header>
  <nav>
    <a href="/admin/dashboard">Dashboard</a> |
    <!-- <a href="/admin/article">Artikel</a> | -->
    <form action="/auth/sign-out" method="POST" style="display: inline">
      <button type="submit">Logout</button>
    </form>
  </nav>
  <hr />
</header>
